$violet-700: #5964E0;
$violet-400: hsl(235, 82%, 77%);
$blue-900: hsl(219, 29%, 14%);
$neutral-900: hsl(220, 29%, 10%);
$white: hsl(0, 0%, 100%);
$neutral-200: hsl(210, 22%, 96%);
$neutral-500: hsl(212, 23%, 69%);
$neutral-700: hsl(214, 17%, 51%);
